---
import config from "@/config/config.json";
import {
  IoLogoLinkedin,
  IoLogoTwitter,
} from "react-icons/io5";

const { base_url } = config.site;
const { title, description, slug, className } = Astro.props;
---

<ul class={`${className}`}>
  <li class="inline-block">
    <a
      aria-label="twitter share button"
      href={`https://x.com/intent/tweet/?text=${title}&amp;url=${base_url}/${slug}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoTwitter />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="linkedin share button"
      href={`https://www.linkedin.com/shareArticle?mini=true&url=${base_url}/${slug}&title=${title}&summary=${description}&source=${base_url}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoLinkedin />
    </a>
  </li>
</ul>
