---
const { source, className } = Astro.props;

import {
  IoCall,
  IoGlobeOutline,
  IoLogoGithub,
  IoLogoLinkedin,
  IoLogoMedium,
  IoLogoTwitter,
  IoMail,
} from "react-icons/io5";

const {
  twitter,
  linkedin,
  github,
  medium,
  email,
  phone,
  website,
} = source;
---

<ul class={className}>
  {
    twitter && (
      <li class="inline-block">
        <a
          aria-label="twitter"
          href={twitter}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoTwitter />
        </a>
      </li>
    )
  }
  {
    linkedin && (
      <li class="inline-block">
        <a
          aria-label="linkedin"
          href={linkedin}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoLinkedin />
        </a>
      </li>
    )
  }
  {
    github && (
      <li class="inline-block">
        <a
          aria-label="github"
          href={github}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoGithub />
        </a>
      </li>
    )
  }
  {
    medium && (
      <li class="inline-block">
        <a
          aria-label="medium"
          href={medium}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoMedium />
        </a>
      </li>
    )
  }
  {
    website && (
      <li class="inline-block">
        <a
          aria-label="website"
          href={website}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoGlobeOutline />
        </a>
      </li>
    )
  }
  {
    email && (
      <li class="inline-block">
        <a aria-label="email" href={`mailto:${email}`}>
          <IoMail />
        </a>
      </li>
    )
  }
  {
    phone && (
      <li class="inline-block">
        <a aria-label="telephone" href={`tel:${phone}`}>
          <IoCall />
        </a>
      </li>
    )
  }
</ul>
